<div><h1 class="mt-5 mb-3">Cadastro de Notebook</h1></div>
<div class="row mt-5">
    <div class="col-4 mt-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
            <div class="form-floating ">
                <input type="number" class="form-control " id="numero" placeholder="numero" required>
                <label for="numero">Numero</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o Numero do notebook.
            </div>
        </div>
    </div>
    <div class="col-8 mt-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-barcode"></i></i></span>
            <div class="form-floating ">
                <input type="text" class="form-control " id="patrimonio" placeholder="patrimonio" required>
                <label for="patrimonio">Numero de Patrimonio</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o Numero do notebook.
            </div>
        </div>
    </div>

</div>
<div class="mt-3">
    <button class="btn btn-primary">Cadastrar</button>
</div>
</div>
