<div class="row">
    <div class="col-5">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-user-ninja"></i></span>
            <div class="form-floating ">
                <input type="text" class="form-control " id="nome" placeholder="nome" required>
                <label for="nome">Nome</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o nome
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <div class="form-floating ">
                <input type="text" class="form-control " id="email" placeholder="email" required>
                <label for="email">Email</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o Email
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating ">
                <input type="password" class="form-control " id="senhaAtual" placeholder="senha" required>
                <label for="senhaAtual">Senha Atual</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe a Senha.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating ">
                <input type="password" class="form-control " id="novasenha" placeholder="novasenha" required>
                <label for="novasenha">Nova Senha</label>
            </div>
            <div class="invalid-feedback">
                A nova senha e a confirmação de senha devem ser iguais.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating ">
                <input type="password" class="form-control " id="confsenha" placeholder="confsenha" required>
                <label for="confsenha">Confirmação Senha</label>
            </div>
            <div class="invalid-feedback">
                A nova senha e a confirmação de senha devem ser iguais.
            </div>
        </div>
    </div>
</div>