<h1 class="mt-5 mb-3">Perfil</h1>
<div class="row">
    <div class="col-9 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-signature"></i></span>
            <div class="form-floating">
                <input type="text" th:value="${usuario.nome}" class="form-control" id="nome" placeholder="Nome"
                       required>
                <label for="nome">Nome</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o nome.
            </div>
        </div>
    </div>

    <div class="col-9 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <div class="form-floating">
                <input type="text" th:value="${usuario.email}" class="form-control" id="email" placeholder="e-Mail"
                       required>
                <label for="email">e-Mail</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o e-Mail.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating ">
                <input type="password" class="form-control " id="senhaAtual" placeholder="senha" required>
                <label for="senhaAtual">Senha Atual</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe a Senha.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating ">
                <input type="password" class="form-control " id="novasenha" placeholder="novasenha" required>
                <label for="novasenha">Nova Senha</label>
            </div>
            <div class="invalid-feedback">
                A nova senha e a confirmação de senha devem ser iguais.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating ">
                <input type="password" class="form-control " id="confsenha" placeholder="confsenha" required>
                <label for="confsenha">Confirmação Senha</label>
            </div>
            <div class="invalid-feedback">
                A nova senha e a confirmação de senha devem ser iguais.
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <button id="enviar" class="btn btn-lg btn-primary">Salvar</button>
    </div>
    <div class="col-6">
    </div>
</div>
</div>